
}

.queen{
    margin-top:15px;
    color:#ff66b3;
    font-size:34px;
}

#typing{
    margin-top:25px;
    font-size:22px;
    min-height:60px;
                                         }
#startBtn{
    margin-top:30px;
    padding:15px 35px;
    border:none;
    border-radius:50px;
    background:#ff2d7a;
    color:#fff;
    font-size:20px;
    cursor:pointer;
    box-shadow:0 0 20px #ff4da6;
    transition:.3s;
}

#startBtn:hover{
    transform:scale(1.08);
    box-shadow:0 0 35px #ff4da6;
}

#love{
    background:linear-gradient(180deg,#150012,#000);
}

.love-box{
    text-align:center;
    padding:20px;
}

.love-text{
    font-size:48px;
    color:#ff4da6;
    text-shadow:0 0 20px #ff66b3;
}

.love-sub{
    margin-top:20px;
    font-size:22px;
    color:#ffd6eb;
}

#gift{
    background:#080008;
}

.gift-container{
    text-align:center;
}

#giftBox{
    font-size:100px;
    margin:30px 0;
    cursor:pointer;
    transition:.4s;
}

#giftBox:hover{
    transform:scale(1.15) rotate(10deg);
}

#giftHint{
    font-size:20px;
    color:#ffb3d9;
                    }
#letter{
    background:linear-gradient(#120010,#000);
}

.letter-box{
    width:90%;
    max-width:420px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);
    border:2px solid rgba(255,255,255,.15);
    border-radius:20px;
    padding:25px;
    text-align:center;
    box-shadow:0 0 25px rgba(255,105,180,.4);
}

.letter-box h2{
    color:#ff66b3;
    margin-bottom:20px;
}

#letterText{
    font-size:18px;
    line-height:1.8;
    color:#fff;
}

#memory{
    background:#090009;
}

.memory-box{
    text-align:center;
    padding:20px;
}

.memory-photo{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:20px;
    border:4px solid #ff4da6;
    box-shadow:0 0 30px #ff4da6;
    margin-bottom:20px;
}

.memory-box h2{
    color:#ff66b3;
    margin-bottom:15px;
}

.memory-box p{
    width:90%;
    margin:auto;
    line-height:1.8;
    color:#ffe6f2;
}

#poster{
    background:#000;
}

.poster{
    width:90%;
    max-width:420px;
    border-radius:20px;
    box-shadow:0 0 30px #ff4da6;
      }
#musicBtn{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
